# Miscellaneous
*.class
*.log
.DS_Store
.buildlog/
.history

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Other IDEs
.vscode/
.atom/
*.swp

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx

# Flutter Platforms (why are these ignored?)
/ios
/linux
/macos
/web

# Java KeyStore files used for signing the Android APK
upload-keystore.jks
upload-keystore.jks.base64
